<ion-view view-title="">
  <ion-nav-buttons side="secondary">
      <button class="button-clear ion-ios-home white" ng-click="backToMain()">
      </button>
    </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-click="efetuarReserva()" class="item-icon-right">Efetuar Reserva
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item ui-sref="todasres" class="item-icon-right">Consultar Reserva
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
