<ion-view view-title="Reserva">
  <ion-content>
    <div class="title">Confirme os dados a seguir:</div>
    <div class="card" style="color:black;">
      <div class="item item-divider" style="color:black;">
        Nova Reserva
      </div>
      <div class="item item-text-wrap" style="color:black;">
        <p><b>Dia:</b> {{reserva.dataReserva}}  <b>Hora:</b> {{reserva.horaReserva}}</p>
        <p><b>Pessoas:</b> {{reserva.qtPessoas}}</p>
        <p><b>Tipo Atendimento:</b>  {{reserva.tipoEvento}}</p>
      </div>
    </div>
    <div class="title">Preencha os campos para reservar:</div>
    <div class="main-box-reserva">
      <label class="item item-input">
        <span class="input-label">Nome do Responsável</span>
        <input type="text" placeholder="Maria da Silva" ng-model="reserva.responsavel"/>
      </label>

      <label class="item item-input">
        <span class="input-label">Cpf</span>
        <input type="tel" ui-mask="999.999.999-99" ng-model="reserva.cpf" only-digits/>
      </label>

      <label class="item item-input">
        <span class="input-label">Telefone</span>
        <input type="tel" ng-model="reserva.telefone" ui-mask="(999) 99999-9999" only-digits/>
      </label>

      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email" placeholder="pessoa@savingtime.com.br" ng-model="reserva.email" />
      </label>

      <label class="item item-input item-select">
        <span class="input-label">Pagamento</span>
          <select ng-model="reserva.pagamento">
            <option selected>Transferencia - Processando</option>
            <option>Transferencia - Pago</option>
            <option>Dinheiro - Pago</option>
            <option>Cartao de crédito - Pago</option>
          </select>
      </label>

      <label class="item item-input item-icon-right" ng-click="addPicture()">
       <span class="input-label">Anexar comprovante</span>
       <span class="">{{anexado}}</span>
          <i class="icon ion-images"></i>
      </label>

      <label ng-show="anexo" class="item item-input item-icon-right" ng-click="getComprovanteAnexado()">
        <span class="input-label">Ver comprovante anexado </span>
       </label>
       <br/>
      <button class="button button-outline button-stable button-checkin" ng-click="cadastrarReserva()" ng-disabled="!reserva.responsavel || !reserva.cpf || !reserva.telefone || !reserva.email || !reserva.pagamento">
        Confirmar Reserva
      </button>
    </div>
  </ion-content>
</ion-view>
