<ion-view view-title="Saving Time" hide-back-button="true">
  <ion-nav-buttons side="primary">
    <a ng-click="settings()" class="button button-icon icon ion-navicon-round"></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <a ng-click="help()" class="button button-icon icon ion-help-circled"></a>
  </ion-nav-buttons>
  <ion-content>
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
    <div class="title-main"><div class="ion-android-restaurant tam-icon"></div></div>

     <div class="box-home">
    <div class="card-home" style="border-radius: 2em; width:100%;">
      <span style="font-size:1em;">Tempo médio </span> 
       <br/><br/>
      <span style="font-size:2.5em; color:rgb(41,91,171);"> {{home.tempoEspera}}</span> 
      <br/>
      <span style="font-size:1em;"> de espera</span>
      </div>
    </div>

    <div class="box-home" style="margin-top: -30px;">
      <div class="card-home">
       <span style="font-size:1em;">Em Fila </span>
       <br/><br/>
      <span style="font-size:3em; color:rgb(41,91,171);">{{home.pessoasFila}}</span> 
      <br/>
      <span style="font-size:1em;"> atendimentos</span>
      </div>

      <div class="card-home">
        <span style="font-size:1em;">Mesas </span> 
         <br/><br/>
        <span style="font-size:3em;color:rgb(41,91,171);"> {{home.mesasLivres}}</span> 
        <br/>
        <span style="font-size:1em;"> livres</span>
      </div>
    </div>

   
  </ion-content>
</ion-view>
