<ion-view view-title="Ver Reservas">
  <ion-nav-buttons side="secondary">
      <button class="button-clear ion-ios-home white" ng-click="backToMain()">
      </button>
    </ion-nav-buttons>
  <ion-content>
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
    <div class="title">{{error}}</div>

    <ion-list>
      <ion-item ng-repeat="reserva in reservas" class="item item-text-wrap item-icon-right" ng-click="toggleItem(reserva)">
        <div ng-class="isItemShown(reserva) ? 'item-expand active' : 'item-expand inactive'">
          <h2 class="white">Reserva no cpf {{reserva.cpf}}</h2>
          <br/>
          <p class="white"><b>Data:</b> {{reserva.dataReserva}}</p>
          <p class="white"><b>Horário:</b> {{reserva.horaReserva}}</p>
          <p class="white"><b>Responsável:</b> {{reserva.responsavel}}</p>
          <p class="white"><b>Cpf:</b> {{reserva.cpf}}</p>
          <p class="white"><b>Telefone:</b> {{reserva.telefone}}</p>
          <p class="white"><b>Lugares:</b> {{reserva.qtPessoas}}</p>
          <p class="white"><b>Pagamento:</b> {{reserva.pagamento}}</p>
          <p class="white"><b>Status:</b> {{reserva.statusReserva}}</p>
          <p class="white"><b>Tipo Evento:</b> {{reserva.tipoEvento}}</p>
        </div>
        <ion-option-button class="button-positive pink"
                           ng-click="getComprovanteAnexado({{reserva.codReserva}})">
        Ver comprovante
        </ion-option-button>
        <ion-option-button class="button-rose"
                           ng-click="editarReserva({{reserva}})">
        Editar
        </ion-option-button>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-tabs class="tabs-icon-top tabs-positive">
    <ion-tab title="Todas" icon="ion-asterisk" ui-sref="todasres" class="tab-item-active">
    </ion-tab>

    <ion-tab title="Data" icon="ion-calendar" ui-sref="pordata">
    </ion-tab>

    <ion-tab title="Cpf/Cod" icon="ion-ios-paper" ui-sref="porcodoucpf">
    </ion-tab>
  </ion-tabs>
</ion-view>
