<ion-view view-title="Editar Mesas">
  <ion-content>
    <div class="title-item">&nbsp;Preencha para editar uma ou mais mesas: </div>
    <div class="main-box-checkin">

      <label class="item item-input">
          <span class="input-label">Número</span>
          <input type="tel" ng-model="edit.numMesa" only-digits/>
     </label>


      <label class="item item-input">
          <span class="input-label">Capacidade de Lugares</span>
          <input type="tel" ng-model="edit.capacidade" only-digits/>
     </label>

     <label class="item item-input item-select">
       <span class="input-label">Status</span>
         <select ng-model="edit.status">
           <option ng-repeat="o in statusmesa" ng-selected="{{o==edit.status}}" value="{{o}}" ng-disabled="{{o == statusmesa[2]}}">
              {{o}}
          </option>
         </select>
    </label>
    <br/>
    <button class="button button-outline button-stable button-checkin" ng-click="editarMesa()" ng-disabled="!edit.numMesa || !edit.capacidade || !edit.status">
      Editar
    </button>
    </div>
  </ion-content>
</ion-view>
