<ion-view view-title="Espera">
  <ion-content>
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
    <div class="title-item"><div class="tam-icon"></div>Veja quem está esperando: </div>
        <ion-list>
          <ion-item ng-repeat="data in list" class="item item-text-wrap item-icon-right">
            <div class="white">
              <i class="ion-clock clock"></i>
              <h2 class="text-margin white">Entrada às {{data.horaCheckIn}} </h2>
              <p class="text-margin white"> {{ data.qtPessoas }} pessoas ({{ data.nomeCategoria }}) </p>
              <p class="text-margin white">Responsável {{ data.nomeResponsavel }} </p>
              <p class="text-margin white"> Contato: {{ data.telefone }} </p>
              <p class="text-margin white" ng-show="data.numReserva"> Num reserva: {{ data.numReserva }}</p>
            </div>
            <ion-option-button class="button-positive"
                       ng-click="atender({{data.qtPessoas}},{{data.codigoAtendimento}},{{data.codCategoria}})">
              Atender
            </ion-option-button>
            <ion-option-button class="button-stable button-outline pink"
                               ng-click="cancelarCheckinPopup({{data.codigoAtendimento}})">
              Cancelar Espera
            </ion-option-button>
            <i class="icon ion-chevron-right icon-accessory"></i>
          </ion-item>
        </ion-list>
  </ion-content>
</ion-view>
