<ion-view view-title="Atendimento">
  <ion-content>
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
    <div class="title-item"><div class="tam-icon"></div>Veja quem está em atendimento: </div>
      <ion-list>
        <ion-item ng-repeat="data in list" class="item item-icon-right">
            <div>
              <i class="ion-coffee clock"></i>
              <h2 class="text-margin white">Mesa: {{data.numMesa}}</h2>
              <p class="text-margin white">{{ data.nomeResponsavel }} </p>
              <p class="text-margin white">{{data.qtPessoas}} pessoas ({{ data.nomeCategoria }}) </p>
              <p class="text-margin white">Código do atendimento: {{data.codigoAtendimento}}</p>
              <p class="text-margin white">Entrada: {{data.data}} {{data.horaCheckIn}} </p>
              <p class="text-margin white">Horário Atendimento: {{data.horaAtendimento}} </p>
              <p class="text-margin white">Prev. Saída: {{data.horaPrevisaoCheckOut}}</p>
            </div>
            <ion-option-button class="button-positive pink"
                       ng-click="checkout({{data.codigoAtendimento}})">
              Checkout
            </ion-option-button>
            <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
      </div>
  </ion-content>
</ion-view>
