/* Empty. Add your own CSS if you like */

@font-face {
    font-family: 'San Fran';
    src: url("System San Francisco Display Regular.ttf") format("opentype");
    font-weight: 1000;
}

body{
    font-family: 'San Fran' !important;
}

.card-home{
  background-color: white;
  color: gray !important;
  width: 9em;
  height: 9em;
  font-weight: normal !important;
  margin: 0 auto;
  border-radius: 10em;
  text-align: center !important;
  box-shadow: 2px 8px 5px #6e81a2;
  padding: 1em;
  font-family: 'San Fran';
}

.icon-accessory {
    color: white !important;
    font-size: 16px;
}

.box-home {

  margin: 10px auto;
  padding: 20px;
  display: flex;
  text-align: center !important;
}

.refresh {
    width: 20px;
    float: right;
    height: 20px;
    font-size: x-large;
}

#timeline {
  margin: 0 auto;
  margin-top:50px;
  max-width:96.5%;
}

.close {
  color: white !important;
  font-size: 26px !important;
  opacity: 1 !important;
}

#image-comprovante {
  width: 100%;
  position: absolute;
}

.transparent {
  background-color: #82bfe6 !important;
}


.main-box-checkin {
  margin-top: 2em;
  width: 95%;
  height: auto;
  margin: auto;
}

.title-pages{
  width: 95%;
  text-align:center;
  width: 100%;
  font-size: 1.2em;
  color:black;
  background: white;
  font-family: 'San Fran';
}

.title-range {
  font-size: 1.2em !important;
  color:#A1A2A6;
  font-family: 'San Fran';
}

.title-main {
  font-size: 1.2em !important;
  color: white;
  text-align: center;
  font-family: 'San Fran';
}

.title {
  font-size: 1.2em !important;
  color: white;
  font-family: 'San Fran';
}

.ain{
  width: 95%;
  margin-top: 1em;
  text-align:center;
  width: 100%;
  margin-bottom: 1em;
  font-size: 1.7em;
  color:#0c60ee;
}

.button-checkin {
  margin-top: 1em;
  width: 100%;
  font-family: 'San Fran' !important;
}

input {
  font-family: 'San Fran' !important;
}

.button {
  min-width: 0px;
  min-height: 0px;
  font-family: 'San Fran' !important;
}

.table-fila{
  margin-top: 2em;
  margin: auto;
  max-width: 95%;
}

.my-gear {
  margin: auto;
  font-size:1.7em;
  float: right;
}
.my-reserv {
  margin: auto;
  float: right;
}

.col {
  text-align: center;
}

.tam-icon {
  font-size: 3em;
}

.filtro {
  display:none;
}

.mostrar {
  display:block;
}

.esconder {
  display:none;
}

.button-icon.active {
  color:white;
}
.activated {
  color:white;
}

.button.button-icon:hover {
  color:white;
}

.ionic_datepicker_popup .popup-body .selected_date_full {
    background-color: #0c60ee !important;
}

.ionic_datepicker_popup .selected_date {
    background-color: #0c60ee !important;
}

.ionic_datepicker_popup .popup-buttons button {
  background-color: #0c60ee !important;
}

.ionic_datepicker_popup .popup-body .month_select, .ionic_datepicker_popup .popup-body .year_select {
  border-bottom: 1px solid #0c60ee !important;
}

.ionic_datepicker_popup .popup-body .month_select:after, .ionic_datepicker_popup .popup-body .year_select:after {
  color: #0c60ee !important;
}

.ionic_datepicker_popup .popup-body .button-clear{
  color: #0c60ee !important;
}

/* CORE Item expand */
.item-expand {
  position: relative;
  width: 100%;
  max-height: 35px;
  transition: max-height 0.1s ease-out;
  overflow: hidden;
}

.item-expand.inactive:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 15px;
  width: 100%;
  display: block;
}

.item-expand.active {
  max-height: 220px;
  transition: max-height 0.3s ease-out;
}


/* DEMO */
.item-expand-footer {
  color: #0c60ee;
  margin-top: 1px;
}

.item-expand-footer i {
  margin-right: 10px;
}

 .md-scroll-mask { position: initial;}

 .text-margin {
   margin-left:45px !important;
 }

 .clock {
  position: absolute;
  font-size: 34px;
 }

 .gear-fila {
   margin-top: -52px;
 }

 .gear-lista {
   margin-top: -13px;
 }

 .has-header {
   background: #82bfe6; /* For browsers that do not support gradients */
   background: -webkit-linear-gradient(#82bfe6, #82bfe6); /* For Safari 5.1 to 6.0 */
   background: -o-linear-gradient(#82bfe6, #82bfe6);); /* For Opera 11.1 to 12.0 */
   background: -moz-linear-gradient(#82bfe6, #82bfe6); /* For Firefox 3.6 to 15 */
   background: linear-gradient(#82bfe6, #82bfe6); /* Standard syntax */
 }

 .header-item {
      color: #82bfe6 !important;
      background: white;
 }


 .primary-buttons {
  color: #82bfe6;
 }

 .bar-dark {
   background-color: white;
   background: white;
 }


 .bar.bar-dark {
   background-color: white;
   background: white;
 }

 .bar-dark .button {
  color: #82bfe6;
 }


.item {
    background-color: rgba(255,255,255,0.1);
    color: white;
    border-color: white;
}

.item-complex .item-content, .item-radio .item-content {
  background-color: transparent;
}

.titleitem {
  background: white;
  color: rgb(28,20,52);
  border: 1px dashed #82bfe6;
}

.title-item {
    color: white;
    font-size: 19px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: lighter;
    text-align: center;
    font-family: 'San Fran';
}

body {
  color: white;
}

.title {
  color: white;
  text-align: center;
  margin-bottom: 15px;
  font-size: 19px !important;
}

.pink {
  background-color: #b52222 !important;
  color: white !important;
  box-shadow: 2px 4px 5px #6e81a2;
}
.pink-color {
  color: rgb(192,185,224) !important;
}

.blue-color {
  color: rgb(124,204,228) !important;
}

.red {
  background: #82bfe6; /* For browsers that do not support gradients */
  border-color: rgb(124,204,228);
  border: 1px dotted;
  color: rgb(124,204,228);
}

.detail {
  text-align: center;
  font-weight: 300;
}

.button-default {
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  border-color: white;
  background-color: transparent;
  color: white;
}

.button.button-default.activated  {
  background: #6e81a2 !important;
  color:#F5F5F5 !important;
  border-color: #6e81a2 !important;
}

.input-label {
  color: white;
  font-weight: bold;
}

input[type=tel] {
  color: white;
}

input[type=text] {
  color: white;
}

input[type=number] {
  color: white;
}

input[type=date] {
  color: white;
}

input[type=time] {
  color: white;
}

input[type=email] {
  color: white;
}

.item-select select {
  background: transparent;
  color: white;
}

.white {
  color: white !important;
}

.popup-container .popup {
  background: -webkit-linear-gradient(#82bfe6, #82bfe6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#82bfe6, #82bfe6);); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#82bfe6, #82bfe6); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#82bfe6, #82bfe6); /* Standard syntax */
  border: 1px solid;
  border-radius: 10px;
}

.popup-head {
  border:none;
}

.button.button-positive {
  border-color: #F5F5F5;
  background: #F5F5F5;
  color: #82bfe6;
  opacity: 1;
  box-shadow: 2px 4px 5px #6e81a2;
  font-weight: bold;
}

.button.button-positive.active  {
  background: #6e81a2 !important;
  color:#F5F5F5 !important;
  border-color: #6e81a2 !important;
}

.button.button-positive.activated {
  background: #6e81a2 !important;
  color:#F5F5F5 !important;
  border-color: #6e81a2 !important;
}

.button.button-positive:hover  {
  background: #6e81a2 !important;
  color:#F5F5F5 !important;
  border-color: #6e81a2 !important;
}

.button-icon.activated {
  background: #6e81a2 !important;
  color:#6e81a2  !important;
  border-color: #6e81a2 !important;
}


.button.button-rose {
  border-color: white;
  background-color: white;
  color: #82bfe6;
  font-weight: bold;
}

.button.button-rose.activated {
  border-color: white !important;
  background-color: #6e81a2 !important;
  color: white !important;
}


.tabs-stable > .tabs, .tabs.tabs-stable {
  background: white;
  color: #82bfe6;
  border:1px solid;
}

.tabs-positive > .tabs, .tabs.tabs-positive {
  background: white;
  color: #82bfe6;
  border: 1px solid;
}

.popup-title {
  color:white;
}

.popup-sub-title {
  color:white;
  font-size: 16px
}

.bar {
  border-style: none;
  border-top: 0px solid transparent;
  border-bottom: 0px solid #ddd;
  background-color: transparent;
  background-size: 0% 0px;
}

.stable {
  color: white;
}

.button.button-stable.button-outline {
  border-color: #F5F5F5;
  background: #F5F5F5;
  color: #82bfe6;
  opacity: 1;
  box-shadow: 2px 4px 5px #6e81a2;
  font-weight: bold;
}

.button: hover{
    border-color: white !important;
    background: transparent !important;
    color: #82bfe6 !important;
}

.button.active{
    border-color: white !important;
    background: white !important;
    color: #82bfe6 !important;
}

.button.activated{
    border-color: white !important;
    background: white !important;
    color: #82bfe6 !important;
}

.button.button-stable.button-outline.active, .button.button-stable.button-outline.activated {
  background: #6e81a2 !important;
  color:#F5F5F5 !important;
  border-color: #6e81a2 !important;
}

.button.button-stable.button-outline.active, .button.button-stable.button-outline.activated: hover {
  background: #6e81a2 !important;
  color:#F5F5F5 !important;
  border-color: #6e81a2 !important;
}

.item.activated {
  background-color: white;
  color:#82bfe6;
}

.scroll-refresher .ionic-refresher-content {
    color: white;
}

.tabs-striped.tabs-stable .tabs {
    background-color: #82bfe6;
    color: white;
}

.tabs-striped.tabs-positive .tabs {
  background-color: #82bfe6;
  color: white;
}

.tabs-striped.tabs-stable .tab-item.tab-item-active, .tabs-striped.tabs-stable .tab-item.active, .tabs-striped.tabs-stable .tab-item.activated {
  color: white;
  border-color: white;
}

.tabs-striped.tabs-stable .tab-item {
    color: white;
    opacity: 1;
}

input::-webkit-input-placeholder {
  color: gray;
}
input:-moz-placeholder {
  color: gray;
}
input:-ms-input-placeholder { /* IE10+ */
  color: gray;
}

.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
    text-align: center;
    border-color: gray;
    font-size: 16px;
    color: gray;
}

.platform-android .action-sheet .action-sheet-title {
    font-size: 14px;
    padding: 16px;
    color: #82bfe6 !important;
}

.image-excel {
  width: 100px;
}

.farol {
  display:flex;
  margin:0 auto;
}

.farol-verm {
  background-color:red;
  min-width:20px;
  height:20px;
  border-radius:30px;
  box-shadow: 2px 4px 5px #6e81a2;
  text-transform: uppercase;
}

.item .farol-verm-text {
  color:red;
  margin-left:10px !important;
}

.farol-verd {
  background-color:green;
  min-width:20px;
  height:20px;
  border-radius:30px;
  box-shadow: 2px 4px 5px #6e81a2;
  text-transform: uppercase;
}
.item .farol-verd-text {
  color:green;
  margin-left:10px !important;
}

.farol-ama {
  background-color:#ecc92d;
  min-width:20px;
  height:20px;
  border-radius:30px;
  box-shadow: 2px 4px 5px #6e81a2;
  text-transform: uppercase;
}

.farol-gray {
  background-color: gray;
  min-width:20px;
  height:20px;
  border-radius:30px;
  box-shadow: 2px 4px 5px #6e81a2;
  text-transform: uppercase;
}


.item .farol-gray-text {
  color:gray;
  margin-left:10px !important;
}

.item .farol-ama-text {
  color:#ecc92d;
  margin-left:10px !important;
}


.popup-buttons .button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    min-height: 45px;
    border-radius: 2px;
    line-height: 20px;
    margin-right: 5px;
    border-color: #F5F5F5;
    background: #F5F5F5;
    color: #82bfe6;
    opacity: 1;
    box-shadow: 2px 4px 5px #6e81a2;
    font-weight: bold;
}
.button {
    border-color: transparent;
    background-color: #f8f8f8;
    color: #444;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 12px;
    min-width: 52px;
    min-height: 47px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;
}


.titulo-home {
  font-size:1em;
}

.valor-home {
  margin-top:-3px;
  font-size:3em;
  color:#82bfe6;
}


@media screen and (min-width: 320px) {
  .chart-home {
    width: 22em;
    height: 14em;
    margin:0 auto;
  }
  .input-label {
    font-size: 17px;
  }
  .item-input input{
    font-size: 16px;
  }
  .button {
    font-size: 17px;
  }
  .item-select select {
    font-size: 16px;
  }
  .title-item {
    font-size: 19px;
  }
  .item {
    font-size: 17px;
  }
  .popup-title {
    font-size: 17px;
  }
  .popup-sub-title {
    font-size: 16px;
  }
  .popup-body {
    font-size: 15px;
  }

}

@media screen and (min-width: 375px) {
  .chart-home {
    width: 27em;
    height: 15em;
    margin:0 auto;
  }
  .input-label {
    font-size: 19px;
  }
  .item-input input{
    font-size: 18px;
  }
  .button {
    font-size: 19px;
  }
  .item-select select {
    font-size: 18px;
  }
  .title-item {
    font-size: 19px;
  }
  .item {
    font-size: 19px;
  }
  .popup-title {
    font-size: 19px;
  }
  .popup-sub-title {
    font-size: 18px;
  }
  .popup-body {
    font-size: 17px;
  }
  .item h2 {
    font-size: 19px;
  }
  .item p {
    font-size: 17px;
  }
}

@media screen and (min-width: 768px) {
  .chart-home {
    width: 45em;
    height: 30em;
    margin:0 auto;
  }

  .input-label {
    font-size: 25px;
  }
  .item-input input{
    font-size: 22px;
  }
  .button {
    font-size: 25px;
  }
  .item-select select {
    font-size: 22px;
  }
  .title-item {
    font-size: 25px;
  }
  .bar .title {
    font-size: 25px !important;
  }
  .item {
    font-size: 25px;
  }
  .popup-title {
    font-size: 25px;
  }
  .popup-sub-title {
    font-size: 22px;
  }
  .popup-body {
    font-size: 21px;
  }
  .item h2 {
    font-size: 25px;
  }
  .item p {
    font-size: 19px;
  }
  .back-button {
    font-size: 22px !important;
  }
  .titulo-home {
    margin-top:2em;
    font-size:2em;
  }
  .valor-home {
    margin-top:-3px;
    font-size:4em;
    color:#82bfe6;
  }
  .card-home {
    margin-top:3em;
    width: 20em;
    height: 20em;
    align-items: center;
  }
  .box-box {
    margin-top: 27%;
  }
  .box-box-sq {
    margin-top: 11%;
  }
  input {
    font-size: 22px !important;
  }
  p {
    font-size: 22px !important;
  }
}

.item.activated {
  background-color: white !important;
  color: #82bfe6 !important;
}
