<ion-view view-title="Consultar Mesas">
  <ion-nav-buttons side="secondary">
      <button class="button-clear ion-ios-home white" ng-click="backToMain()">
      </button>
    </ion-nav-buttons>
  <ion-content class="has-footer">
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>

      <div class="title-item">&nbsp;{{error}}</div>

      <ion-list>
        <ion-item ng-repeat="data in listmesas" class="item item-text-wrap item-icon-right" ng-click="toggleItem(data)">
          <div ng-class="isItemShown(data) ? 'item-expand active' : 'item-expand inactive'">
            <div style="display: inline-flex;">
              <!-- Se a mesa estiver livre -->
              <div class="farol" ng-show="data.status == 'Ativa - Livre'">
                <div class="farol-verd" style="border: solid 2px white;"></div>
              </div>

              <!-- Se a mesa estiver ocupada -->
              <div class="farol" ng-show="data.status == 'Ativa - Ocupada'">
                <div class="farol-ama" style="border: solid 2px white;"></div>
              </div>

              <!-- Se a mesa estiver reservada -->
              <div class="farol" ng-show="data.status == 'Ativa - Reservada'">
                <div class="farol-gray" style="border: solid 2px white;"></div>
              </div>

              <!-- Se a mesa estiver inativa -->
              <div class="farol" ng-show="data.status == 'Inativa'">
                <div class="farol-verm" style="border: solid 2px white;"></div>
              </div>
              <h2 class="white">&nbsp;&nbsp;Mesa de {{data.capacidade}} lugares&nbsp;&nbsp;</h2>
            </div>
          </br></br>
            <p class="white">Número: {{data.numMesa}}</p>
            <p class="white">Capacidade: {{data.capacidade}}</p>
            <p class="white">Status: {{data.status}}</p>
          </div>
          <ion-option-button class="button-rose"
                             ng-click="editMesas({{data.codigo}})">
          Editar
          </ion-option-button>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <ion-tabs class="tabs-icon-top tabs-stable">
    <ion-tab title="Todas" icon="ion-asterisk" ui-sref="todasmesas" class="tab-item-active" >
    </ion-tab>

    <ion-tab title="Capacidade" icon="ion-ios-people" ui-sref="porcapacidade">
    </ion-tab>

    <ion-tab title="Status" icon="ion-flag" ui-sref="porstatus">
    </ion-tab>
  </ion-tabs>
</ion-view>
